datefinder==0.7.0
DateTime==4.3
Django==3.0.4
django-cors-headers==3.2.1
django-crispy-forms==1.9.0
django-datetime-utc==1.0.2
django-debug-toolbar==2.2
django-googlesearch==0.2
django-registration==3.1
django-request-vars==1.0.1
django-rest-auth==0.9.5
django-simple-history==2.11.0
django-webpack-loader==0.7.0
djangorestframework==3.11.0
docx==0.2.4
drf-nested-routers==0.91
requests
pandas
openpyxl
sendgrid
PyPDF2
pycryptodome
